

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
app-*.tar

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log

node_modules

/.idea

/.elixir_ls

package-lock.json

# dependencies
/frontend/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts